## Importing libraries

In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%config Completer.use_jedi = False # this speeds up autocomplete

## Creating dataframe: df

In [6]:
df = pd.read_csv('total_datasus_2010_2019.csv', encoding = 'latin-1')
df.head()

,Unnamed: 0,idade,DTOBITO,NATURAL,DTNASC,SEXO,RACACOR,ESTCIV,ESC,OCUP,...,GESTACAO,PARTO,OBITOPARTO,ASSISTMED,CIRURGIA,NECROPSIA,CAUSABAS,FONTE,CAUSABAS_O,FONTEINV
0,1,65.325120,2010-08-06,831.0,1945-04-09,2,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,R98,NaN,R98,NaN
1,2,98.543463,2010-08-06,812.0,1912-01-20,1,NaN,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,NaN,R98,2.0
2,3,0.544832,2010-10-02,812.0,2010-03-17,2,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,R98,NaN,R98,NaN
3,4,0.000000,2010-04-07,NaN,2010-04-07,2,1.0,NaN,NaN,NaN,...,1.0,1.0,3.0,NaN,2.0,2.0,P969,NaN,O689,NaN
4,5,38.773443,2010-05-13,812.0,1971-08-04,1,1.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,2.0,2.0,X999,3.0,X999,NaN

In [7]:
# Initial info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947544 entries, 0 to 4947543
Data columns (total 27 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   idade       float64
 2   DTOBITO     object
 3   NATURAL     float64
 4   DTNASC      object
 5   SEXO        int64
 6   RACACOR     float64
 7   ESTCIV      float64
 8   ESC         float64
 9   OCUP        float64
 10  CODMUNRES   int64
 11  LOCOCOR     float64
 12  ESCMAE      float64
 13  OCUPMAE     float64
 14  QTDFILVIVO  float64
 15  QTDFILMORT  float64
 16  GRAVIDEZ    float64
 17  GESTACAO    float64
 18  PARTO       float64
 19  OBITOPARTO  float64
 20  ASSISTMED   float64
 21  CIRURGIA    float64
 22  NECROPSIA   float64
 23  CAUSABAS    object
 24  FONTE       float64
 25  CAUSABAS_O  object
 26  FONTEINV    float64
dtypes: float64(20), int64(3), object(4)
memory usage: 1019.2+ MB

### Selecting only the suicide cases

In [8]:
# Creating filter list
filter_list = ["X{}".format(x) for x in range(600, 850)]
df = df[df['CAUSABAS'].isin(filter_list) | 
        df['CAUSABAS_O'].isin(filter_list)
       ]

df.info()

# From 1GB to 10MB of memory usage after filtering. Now we can continue.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46881 entries, 157 to 4947292
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  46881 non-null  int64
 1   idade       46690 non-null  float64
 2   DTOBITO     46881 non-null  object
 3   NATURAL     32671 non-null  float64
 4   DTNASC      46690 non-null  object
 5   SEXO        46881 non-null  int64
 6   RACACOR     44814 non-null  float64
 7   ESTCIV      45296 non-null  float64
 8   ESC         43544 non-null  float64
 9   OCUP        36049 non-null  float64
 10  CODMUNRES   46881 non-null  int64
 11  LOCOCOR     46881 non-null  float64
 12  ESCMAE      16 non-null     float64
 13  OCUPMAE     15 non-null     float64
 14  QTDFILVIVO  21 non-null     float64
 15  QTDFILMORT  13 non-null     float64
 16  GRAVIDEZ    22 non-null     float64
 17  GESTACAO    22 non-null     float64
 18  PARTO       22 non-null     float64
 19  OBITOPARTO  21 non-null     float64
 20  ASSISTMED   32379 non-null  float64
 21  CIRURGIA    3225 non-null   float64
 22  NECROPSIA   39097 non-null  float64
 23  CAUSABAS    46881 non-null  object
 24  FONTE       39434 non-null  float64
 25  CAUSABAS_O  46820 non-null  object
 26  FONTEINV    14478 non-null  float64
dtypes: float64(20), int64(3), object(4)
memory usage: 10.0+ MB

#### Creating a new .csv to be uploaded in GitHub

In [9]:
df.to_csv('suicides_in_brazil_2010_2019.csv')

### Cleaning dataframe